* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   }
body {
     background: black;
     color: white;
     padding: 10px;
   }
   
li {
     list-style-type: none;
   }
   
   
.nav-bar {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       flex-wrap: wrap;
       row-gap: 10px;
       column-gap: 20px;
       margin: 10px  20px 0px 20px;   
   }
.nav-bar ul li a:hover{
    color: rgb(230,22,35);
}
   
.container {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   }

   
.img-fluid {
     border-radius: 20px 0px 0px 20px;
     margin-left:10px;
     width: 100%;
   
   }
.text-fluid {
     position: relative;
     text-align: center;
     color: rgb(0, 0, 0):
   }
.text-block {
     font-size: 1.5vw;
     position: absolute;
     background-image: none;
     color: rgb(255, 255, 255);
     border-radius: 20px 0px 0px 20px;
     border: 2px solid rgb(230,22,35);
     width: 140px;
     text-align: center;
     font-weight: bold;
     bottom: 35px;
     right: -10px;
     background-color: rgb(230,22,35);
   }

a {
     text-decoration: none;
     color: white;
   }
   
.about-container{
     display: flex;
     align-items: stretch;
     margin-bottom: 15px;
   }
.about-h {
   margin: 40px;
   border-right: 2px solid white;
   padding-right: 50px;
   }
   
.about-p {
     margin: 40px;
     text-align: left; 
     font-size: 1.8vw;
   }

.work-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: end;
}
.work-img {
  flex-direction: row;
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  margin-right: 3%;
}
     
.work-h {
    margin: 50px;
    border-right: 2px solid white;
    padding-right: 50px;  
    
}
.work-p {
    position: relative;
    width: 40%;
    height: 15%;
    margin: 1%;
  }

.image-main {
    position: relative;
    width: 82%;
    height: 40%;
    margin: 1%;
  }
.image-1 {
    display: flex;
    width: 100%;
    height: 100%;
}
.text-image {
    border: solid 1px black;
    border-radius: 0px 25px 25px 0px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 0%;
    font-size: 2vw;
    color: white;
    background-color: rgb(41,96,123)
    
}
.text-image2 {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 10%;
    font-size: 2vw;
}
.contact-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 15px;
    justify-content: space-between;
    margin: 10px 20px 20px 20px;
    
}
.contact-h {
    margin: 10px;
    border-right: 2px solid white;
    padding-right: 40px;
    text-align: center;
    
}
.contact-p {
       display: flex;
       flex-direction: row;
       align-items: stretch;
       justify-content: space-between;
       flex-wrap: wrap;
       row-gap: 10px;
       column-gap: 20px;
       margin: 10px  20px 0px 20px;  

}
section div a img:hover {
    opacity: 0.3;
}